{% extends 'monitoring/p_base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="title-1 m-b-25">Все упоминания ({{ count }})</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>network</th>
                        <th>дата</th>
                        <th>запрос</th>
                        <th>тип</th>
                        <th>категория</th>
                        <th>тональность</th>
                        <th>оценка</th>
                        <th>детали</th>
                        <th>ссылка</th>

                    </tr>
                </thead>
                <tbody>
                    {% for p in posts %}
                    <tr>
                        <td><img src="/static/monitoring/images/vk.png"/></td>
                        <td>{{ p.post_date }}</td>
                        <td>{{ p.post_query }}</td>
                        <td>{{ p.post_type }}</td>
                        <td>{{ p.post_category }}</td>
                        <td><span class="badge badge-{{ p.post_mark }}">{{ p.post_mark }}</span></td>
                        <td>{{ p.post_score }}</td>
                        <td><a href="{{ p.get_absolute_url }}">смотреть</a></td>
                        <td><a href="{{ p.post_link }}">перейти</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>



{% endblock content %}
